@shibaone:registry=https://npm.pkg.github.com
package-lock=false

# Remember to comment it out before pushing to github since it interferes with the build process, as we  can't use env variables in dockerfile
 //npm.pkg.github.com/:_authToken=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

